img {
	height: 200px;
	width: 300px;

}
																							   
.etelek {
	border: black solid 10px ;
	text-align:center;
	margin:justify;
	width:75% ;
	
	height : 300px

}

.kep{
float:left;
margin-bottom:50px


}

body {
	background-color:#faebd7;
	font-style:italic
	